@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #4744ff;
  --color-darkBG: #2d2b2f;
  --color-darkFG: #3e445d;
  --color-lightBG: #f9fff9;
  --color-lightFG: #f4f6ff;
}

:root {
  --fg: #f4f6ff,
    --bg: #f9fff9
    .dark {
    --bg: #2d2b2f;
    --fg: #1e1f24;
  }
}

button {
  cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select::picker-icon {
  color: #4744ff;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option {
  border: 2px solid #4744ff;
}

/* box shadow that matches clerk components */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px,
    rgba(25, 28, 33, 0.2) 0px 15px 35px -5px,
    rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
}

/* box shadow that matches clerk components */
.shadow-blue {
  box-shadow: rgba(71, 68, 255, 0.08) 0px 5px 15px 0px,
    rgba(71, 68, 255, 0.2) 0px 15px 35px -5px,
    rgba(71, 68, 255, 0.07) 0px 0px 0px 1px;
}

/* placement & look of squiggles in background */
.squiggle {
  position: relative;
  width: 200px;
  height: 50px;

  &:nth-child(1) {
    top: 12vh;
    left: 5vw;
    rotate: 145deg;
  }

  &:nth-child(2) {
    top: 75vh;
    left: 80vw;
    rotate: 215deg;
  }

  &:nth-child(3) {
    top: 30vh;
    left: 20vw;
    rotate: 215deg;
  }

  &:nth-child(4) {
    top: 70vh;
    left: -2vw;
    rotate: 145deg;
  }

  &:nth-child(5) {
    top: -22vh;
    left: 32vw;
    rotate: 215deg;
  }

  &:nth-child(6) {
    top: -14vh;
    left: 62vw;
    rotate: 145deg;
  }

  &:nth-child(7) {
    top: 40vh;
    left: 54vw;
    rotate: 215deg;
  }
  &:nth-child(8) {
    top: 10vh;
    left: 76vw;
    rotate: 145deg;
  }

  &:nth-child(9) {
    top: -33vh;
    left: 87vw;
    rotate: 215deg;
  }

  &:nth-child(10) {
    position: relative;
    width: 200px;
    height: 50px;
    top: 30vh;
    left: 25vw;
    rotate: 145deg;
  }

  &::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 20px;
    background: radial-gradient(
      16px,
      transparent,
      transparent 4px,
      rgba(71, 68, 255) 4px,
      rgba(71, 68, 255) 10px,
      transparent 11px
    );
    background-size: 30px 40px;
  }

  &::after {
    content: '';
    position: absolute;
    height: 20px;
    background: radial-gradient(
      16px,
      transparent,
      transparent 4px,
      rgba(71, 68, 255) 4px,
      rgba(71, 68, 255) 10px,
      transparent 11px
    );
    background-size: 30px 40px;
    top: 20px;
    left: 15px;
    width: 180px;
    background-position: 0px -20px;
  }
}
