@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #4744ff;
  --color-darkBG: #2d2b2f;
  --color-lightBG: #f9fff9;
}

:root {
  --fg: #6f2de7,
    --bg: #f3ecff
    .dark {
    --bg: #2d2b2f;
  }
}

button {
  cursor: pointer;
}

.squiggle {
  position: relative;
  width: 200px;
  height: 50px;

  &:nth-child(1) {
    top: 12vh;
    left: 5vw;
    rotate: 145deg;
  }

  &:nth-child(2) {
    top: 75vh;
    left: 80vw;
    rotate: 215deg;
  }

  &:nth-child(3) {
    top: 30vh;
    left: 20vw;
    rotate: 215deg;
  }

  &:nth-child(4) {
    top: 70vh;
    left: -2vw;
    rotate: 145deg;
  }

  &:nth-child(5) {
    top: -22vh;
    left: 32vw;
    rotate: 215deg;
  }

  &:nth-child(6) {
    top: -14vh;
    left: 62vw;
    rotate: 145deg;
  }

  &:nth-child(7) {
    top: 40vh;
    left: 54vw;
    rotate: 215deg;
  }
  &:nth-child(8) {
    top: 10vh;
    left: 76vw;
    rotate: 145deg;
  }

  &:nth-child(9) {
    top: -33vh;
    left: 87vw;
    rotate: 215deg;
  }

  &:nth-child(10) {
    position: relative;
    width: 200px;
    height: 50px;
    top: 30vh;
    left: 25vw;
    rotate: 145deg;
  }

  &::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 20px;
    background: radial-gradient(
      16px,
      transparent,
      transparent 4px,
      rgba(71, 68, 255) 4px,
      rgba(71, 68, 255) 10px,
      transparent 11px
    );
    background-size: 30px 40px;
  }

  &::after {
    content: '';
    position: absolute;
    height: 20px;
    background: radial-gradient(
      16px,
      transparent,
      transparent 4px,
      rgba(71, 68, 255) 4px,
      rgba(71, 68, 255) 10px,
      transparent 11px
    );
    background-size: 30px 40px;
    top: 20px;
    left: 15px;
    width: 180px;
    background-position: 0px -20px;
  }
}
